DB_PASSWORD=
SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
PUBLIC_URL=http://localhost:8055
CORS_ORIGIN=https://dashboard.vtv.gov.vn
SESSION_COOKIE_SECURE=false

AUTH_PROVIDERS=
AUTH_VTV_DRIVER=openid
AUTH_VTV_MODE=session
AUTH_VTV_LABEL=SSO VTV
AUTH_VTV_CLIENT_ID=
AUTH_VTV_CLIENT_SECRET=
AUTH_VTV_ISSUER_URL=
AUTH_VTV_IDENTIFIER_KEY=sub
AUTH_VTV_ALLOW_PUBLIC_REGISTRATION=false
AUTH_VTV_DEFAULT_ROLE_ID=
AUTH_VTV_REDIRECT_ALLOW_LIST=http://localhost:8055/admin/vtv-cms
